* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    background-color: black;
}

h1 {
    color: whitesmoke;
}

.main {
    display: flex;
    justify-content: space-between; //to put the left section in the left and the right section in the right
}

.box {
    width: 50px;
    height: 50px;
    background-color: brown;
}

.one,
.two,
.three {
    display: flex;
    /* to put h1 and box side of someحد بعض */
}

.first,
.second,
.third {
    border: 1px solid blue;
    width: 200px;
    height: 70px;
    display: flex;
    justify-content: space-around;
    /* لجعل المربعات افقيه ووضع مسافه حولهم */
}

.first_r,
.second_r,
.third_r {
    border: 1px solid blue;
    width: 70px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

.first_r {
    align-items: center;
}

.second_r {
    align-items: flex-start;
}

.third_r {
    align-items: flex-end;
}

.first {
    align-items: center;
}

.second {
    align-items: flex-start;
}

.third {
    align-items: self-end;
}


.left {
    width: 300px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.right {
    width: 300px;
    height: 600px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}